{
  "plugins": [
    "meteor"
  ],
  "extends": [
    "plugin:meteor/recommended",
    "airbnb/base"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "meteor": true
  },
  "globals": {
    "Positions": true,
    "Phaser": true
  },
  "rules": {
      "no-underscore-dangle": ["error", { "allow": ["_id", "_str", "_idOriginal"]}],
      "no-param-reassign": ["error", { "props": false }]
  }
}